<template>
    <form class="form" @submit.prevent>     
        <div class="title">
            <p class="my-name">Ellis Corio</p>
            <div class="role">
                 <i class="fas fa-code"></i>
                 <p>Web Developer</p>
            </div>
        </div>
         <h3 class="name" v-if="!formsubmitted">{{ title }}</h3>
        <span id="expressions">
            <i v-show="formSucsess" class="far fa-smile"></i>
            <i v-show="formsubmitted && formHasErrors" class="far fa-frown"></i>
        </span>
        <SubmitMessage v-if="formSucsess" :enquiry="enquiry" />
        <ErrorList :inputs="inputs" v-if="formsubmitted && formHasErrors"/>
        <ListInputs  v-show="!formSucsess" v-for="input in inputs" :inputs="inputs" :key="input.id" :id="input.id" :formHasErrors="formHasErrors" @input-sent="updateInputData"/>
        <SubmitButton v-show="!formSucsess" @submit-button-clicked="formSubmitted" />
    </form>
</template>

<script>


import SubmitMessage from './SubmitMessage'
import ErrorList from './ErrorList'
import ListInputs from './ListInputs'
import SubmitButton from './SubmitButton'


export default {
    name: 'EnquiryForm',
    components: {

    SubmitMessage,
    ErrorList,
    ListInputs,
    SubmitButton
    },
    props: {
    title: String,
    },
    data() {
        return {
            formsubmitted: false,
            formHasErrors : null,
            inputs: [
                {
                    id: 0,
                    type: "text",
                    name: "First Name",
                    title: "first",
                    value: null,
                    regex: /^[a-zA-Z]+$/,
                    error: "Plese enter letters only",
                    submittedErrorMessage: "First name is Required, letters only",
                    valid: false,
                    required: true
                },
                {
                    id: 1,
                    type: "text",
                    name: "Last Name",
                    title: "last",
                    value: null,
                    regex:  /^[a-zA-Z]+$/,
                    error: "Plese enter letters only",
                    submittedErrorMessage: "Last name is Required, letters only",
                    valid: false,
                    required: true
                },
                {
                    id: 2,
                    type: "email",
                    name: "Email",
                    title: "email",
                    value: null,
                    regex: /^\w+([\.-]?\w+)+@\w+([\.:]?\w+)+(\.[a-zA-Z0-9]{2,3})+$/,
                    error: "A valid Uk e-mail is Required",
                    submittedErrorMessage: "Please enter a valid Uk e-mail address",
                    valid: false,
                    required: true
                },
                {
                    id: 3,
                    type: "text",
                    name: "Telephone",
                    title: "tel",
                    value: null,
                    regex:  /(\s*\(?0\d{4}\)?(\s*|-)\d{3}(\s*|-)\d{3}\s*)|(\s*\(?0\d{3}\)?(\s*|-)\d{3}(\s*|-)\d{4}\s*)|(\s*(7|8)(\d{7}|\d{3}(\-|\s{1})\d{4})\s*)/,
                    error: "A valid UK phone number is Required",
                    submittedErrorMessage: "Please enter a valid Uk phone number ",
                    valid: false,
                    required: true
                },
                {
                    id: 4,
                    type: "checkbox",
                    name: "Newsletter",
                    title: "news",
                    value: null,
                    required: false
                },
                {
                    id: 5,
                    type: "checkbox",
                    name: "Privacy Policy",
                    title: "privacy",
                    value: null,
                    required: false
                },
                {
                    id: 6,
                    type: "textarea",
                    name: "Enquiry",
                    title: "enquiry",
                    value: null,
                    regex: /[\s\S]{20,1000}/,
                    error: "Must be at least 20 characters  ",
                    submittedErrorMessage: "Please enter a enquiry must be between 20 and 1000 characters",
                    valid: false,
                    required: true
                },
            ],
        }
    },
    methods: {
        updateInputData(inputData) {
            this.inputs[inputData.id].valid = inputData.valid
            this.inputs[inputData.id].value = inputData.value
        },
        formSubmitted() {
            this.formsubmitted = true
            var allInputs = this.inputs
            for (var i=0;i<allInputs.length;i++) {
                if (allInputs[i].valid == false ) {
                    this.formHasErrors = true
                    break;
                }
                else {
                this.formHasErrors = false
                }
            }
            if (!this.formHasErrors) {
                this.$emit('enquiry-sent', this.enquiry)
            }
        }
    },
    computed: {
        formSucsess() {
            return this.formsubmitted && !this.formHasErrors
        },
        enquiry() {
            var enquiry = {}
            var allInputs = this.inputs
            for (var i=0;i<allInputs.length;i++) {
                enquiry[`${allInputs[i].title}`] = allInputs[i].value
            }
            return enquiry
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>

.form {
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    font-size: 20px;
    background-color:#404040;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.title > p ,  .role > p {
    margin: 0px;
}

.fa-code {
    color: #ff8c00;
    margin: 0px 5px 0px 0px;
}
.role {
    display:flex;
    align-items: center;
    width: 100%
}

.name {
    width: 100%;
    margin: 5px;
}

.text-area {
    height: 50px;
}

.fa-frown {
    font-size: 100px;
    color: #ff8c00;
    margin: 10px
}
.fa-smile {
    font-size: 100px;
    color: #ff8c00;
    margin: 10px
}

/* tablet */

@media (min-width: 768px) {

    .form {
        font-size: 30px;
    }

    .my-name {
        font-size: 40px;
    }

}

/* desktop */

@media (min-width: 1400px) {
   .form {
        width: 50%;
        font-size: 16px;
        margin: 0 auto;
   }
}

</style>