<template>
  <div>
    <ul  class="error-container">
      <span class="error-wrapper" v-for="input in inputs" :key="input.id">
         <li class="error-item" v-show="!input.valid" v-if="!!input.submittedErrorMessage">{{ input.submittedErrorMessage }}</li>
      </span>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'ErrorList',
  props: {
    inputs: Array
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.error-container {
    width: 100%;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-item {
  margin-bottom: 5px;
  font-size: 12px;
}

/* tablet */

@media (min-width: 768px) {

  .error-item {
    font-size: 18px;
  }
}


/* desktop */

@media (min-width: 1400px) {
  .input-item {
    font-size: 14px;
  }

  .error-item {
    font-size: 16px;
  }


}


</style>
