<template>
  <div class="input-container">
    <div class="input-wrapper">
      <div class="input-name">
        <p>{{ inputs[id].name }}<p/>
        <i v-show=" !isvalid && formHasErrors" class="fas fa-exclamation-triangle"></i>
        <p class="advice" v-show="!isvalid && formHasErrors" >{{ error }}</p>
      </div>
      <input class="input" :type="inputs[id].type" v-model="value" :class="{invalid: !this.isvalid && this.formHasErrors == true}" v-on:keydown.enter.prevent @blur="sendInputDtat" >

    </div>
  </div>
</template>

<script>


export default {
  name: 'ListInputs',
  props: {
    inputs: Array,
    formHasErrors: Boolean,
    formsubmitted: Boolean
  },
  data() {
    return {
      value: "",
    }
  },
  methods: {
   sendInputDtat() {
       let inputData = {
       value: this.value,
       id: this.id,
       valid: this.isvalid
      }
     this.$emit('input-sent' , inputData)
    }
  },
  computed: {
    
    id() {
      return this.$attrs.id
    },
    regex() {
      return this.inputs[this.id].regex
    },
    isvalid() {
      if (this.inputs[this.id].required == false ) 
      {
        return true
      }
      else return !!this.value && this.regex.test(this.value);
    },
    error() {
      return this.inputs[this.id].error
    },
    inputTouched() {
      return !!this.value
    },
    submitMessgae() {
      return this.inputs[this.id].submittedErrorMessage
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>

.input-container {
  width: 100%;
  padding: 0px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper > p {
  margin: 2px;
}

.input-name > p {
  margin: 5px 0px 5px 0px;
}

.input {
  font-family: 'Ubuntu', sans-serif;
}

.invalid {
  background-color:#ffdb99
}

input[type=textarea] {
  height: 100px;
}

.fa-exclamation-triangle {
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  color: #ff8c00;
}

.input-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advice {
  font-size: 12px;
  margin-top: 5px;
}

/* tablet */

@media (min-width: 768px) {

  .input {
    height: 30px;
    font-size: 28px;
  }

  .input[type=checkbox] {
    width: 30px;
    height: 30px;
  }

  .fa-exclamation-triangle {
    font-size: 18px;
  }

  .advice {
    font-size: 18px;
  }

}

/* desktop */

@media (min-width: 1400px) {
  .input {
    height: 24px;
    font-size: 16px;
  }

  .input[type=checkbox] {
    width: 18px;
    height: 18px;
  }

  .input-wrapper {
      margin-bottom: 5px;
  }

  .input-name > p {
    margin: 5px 0px 5px 0px;
  }

  .advice {
    font-size: 12px;
  }

  .fa-exclamation-triangle {
    font-size: 14px
  }

}

</style>

