<template>
  <div class="error-container">
    <div>
      <p>Thank You <b style="color: #ff8c00;">{{ name }}</b> at <b style="color: #ff8c00;">{{ enquiry.email }}</b></p>
      <p>Your message was sent to our Support Team. You should receive a reply from a representative of
      our web site by the end of the next business day by email at <b style="color: #ff8c00;">{{ enquiry.email }}</b></p>
      <p>We have your details As:</p>
      <p>Name: {{ name }} <i class="fas fa-check"></i></p>
      <p>Phone: {{ enquiry.tel }} <i class="fas fa-check"></i></p>
      <p>E-mail: {{ enquiry.email }} <i class="fas fa-check"></i></p>
      <p>Occasionally
      we receive a very large number of messages, and your response may take a little longer.
      If this occurs, we appreciate your patience, and we assure you that you will receive a response.
      Thank you for taking the time to contact us. <b style="color: #ff8c00;">Have a great day</b>, Ellis Corio.com Support Team</p>
    </div>  
  </div>
</template>

<script>
export default {
  name: 'SubmitMessage',
  props: {
    enquiry: Object,

  },
  computed: {
    name() {
      return this.enquiry.first + ' ' +this.enquiry.last
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>

.fa-check {
  margin-left: 5px;
  color:  #ff8c00;
}

</style>
