<template>
  <div class="button-wrapper">
    <button type="submit" value="submit" @click="submit" @v-on:keydown.enter="submit"><b>Send Enquiry</b></button>
  </div>
</template>

<script>
export default {
  name: 'SubmitButton',
  props: {
    enquiry: Object
  },
  methods: {
    submit() {
      document.getElementById("expressions").scrollIntoView();
      this.$emit('submit-button-clicked')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.button-wrapper {
  width: 100%;
}

button {
  width: 100%;
  height:50px;
  margin-top: 20px;
  background-color:  #ff8c00;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: white;
  border: none;
}

</style>
