<template>
  <div id="app">
    <EnquiryForm title="Contact Us:" />
  </div>
</template>

<script>
import EnquiryForm from './components/EnquiryForm.vue'

export default {
  name: 'app',
  components: {
    EnquiryForm
  }
}
</script>

<style>

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}


</style>
